<ion-view title="Locate a rest room" >


<ion-content  scroll="true" align="">

     <map on-create="mapCreated(map)"></map>
<p></br><div>/////</div></p>
<p></br><div>/////</div></p>
<p></br><div>/////</div></p>
+
</ion-content >
    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
      <a ng-click="putmarkers()" class= "button button-icon icon ion-refresh"></a>
      <a ng-click="reloaddata_smell()" class= "button ion-refresh"> reload data</a>

      
</ion-view>



	